@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');
@import 'tailwindcss';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
    .font-montserrat {
        font-family: 'Montserrat', sans-serif;
    }
}
